@{
    ViewData["Title"] = "Home";
}
<body>
    <div class="row align-items-center" >
        <div class="col-md-4 text-center">
            <img src="@Url.Content("~/img/profile1.png")" alt="Foto de perfil" class="img-fluid rounded-circle profile-img"
                 style="max-width: 60%;
                border-radius: 30% !important" />
        </div>
        <div class="col-md-8" style="left: -4%; position: relative;">
            <h1>Leandro Sousa</h1>
            <h5 class="text-muted">Desenvolvedor Fullstack • C# / .NET</h5>
            <p class="lead">Sou um desenvolvedor apaixonado por construir aplicações web escaláveis e com foco em qualidade de código. Trabalho com .NET no backend e tecnologias modernas no frontend.</p>
            <a class="btn btn-primary me-2" href="/Home/Projects">Ver Projetos</a>
            <a class="btn btn-outline-secondary" href="/Home/Contact">Contato</a>
        </div>
    </div>

    <hr />

    <div class="row mt-4">
        <div class="col-md-4">
            <h4>Habilidades</h4>
            <ul class="list-unstyled">
                <li>C# / .NET</li>
                <li>ASP.NET Core</li>
                <li>TypeScript / JavaScript</li>
                <li>HTML / CSS / Bootstrap</li>
                <li>SQL / EF Core</li>
            </ul>
        </div>
        <div class="col-md-8">
            <h4>Resumo</h4>
            <p>O reseumo sobre as experiencias fica aqui.</p>
        </div>
    </div>
</body>