<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #000000; color: #FFFF">
    <header class="bg-light py-3 shadow-sm" style=" background-color: #000000 !important; color: #FFFF">
        <div class="container d-flex justify-content-between align-items-center" >
            <a class="navbar-brand fw-bold" href="/" style="position: absolute; left: 6%">Meu Portfólio</a>
            <nav style="position: relative; left: 80%">
@*                 <a class="btn btn-link" href="/">Home</a>
 *@                <a class="btn btn-link" href="/Home/About">Sobre</a>
                <a class="btn btn-link" href="/Home/Projects">Projetos</a>
                <a class="btn btn-link" href="/Home/Contact">Contato</a>
            </nav>
        </div>
    </header>

    <main class="container my-5">
        @RenderBody()
    </main>
    <body>
        <footer class="bg-dark text-white py-4">
            <div class="container d-flex justify-content-between">
                <div>© @DateTime.Now.Year — Leandro</div>
                <div>
                    <a class="text-white me-3" href="#">GitHub</a>
                    <a class="text-white me-3" href="#">LinkedIn</a>
                </div>
            </div>
        </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>