@charset "utf-8";


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.name {
    font-family: fantasy;
    font-size: 52px;
    margin-block-start: -2%;
    right: 73%;
    position: fixed;
    text-shadow: 1px 1px 20px;
}

#animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mantém atrás do conteúdo */
    background: #000;
}

.box {
    width: 98%;
    height: 870px;
    background: linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1)), linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1));
    background-size: 10px 10px;
    padding: 17px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.nav-btns {
    justify-content: space-evenly;
    margin-block-start: -45%;
    margin-inline-start: 66%;
    background: black;
    color: white;
}

.btn {
    background: #000000;
    color: #ffffff !important;
    font-family: cursive;
    --bs-btn-bg: #0d6efd00;
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden
}

.hero-content {
    position: relative;
    z-index: 10;
    max-width: 980px;
    padding: 120px 24px 60px;
}

.tab-section {
    display: none;
}

    .tab-section.active {
        display: block;
    }

.about-description {
    color: white;
    margin-inline-start: 48%;
    margin-block-start: 15%;
}

.footer {
    width: 88%;
    right: 3vh;
    position: fixed;
    bottom: 8px;
}

.temporary {
    border: 1px solid #575151;
    position: absolute;
    margin-block-start: 6%;
    width: 56%;
    margin-inline: 25%;
    padding-block-end: 25%;
    text-align: justify;
    white-space: pre-line;
    color: white;
    border-top: none;
    border-left: none;
    border-radius: 8px;
}

.line {
    width: 80%;
    margin-block-start: 1%;
    right: -10%;
    position: relative;
}

.btn-primary {
    --bs-btn-bg: #0d6efd00 !important;
    margin-block-start: 35%;
    --bs-btn-hover-bg: #0d6efd00 !important;
    left: 25%;
    position: sticky;
}

.img-thumbnails {
    padding: .25rem;
    border: 1px solid #575151;
    border-color: #575151 !important;
    border-radius: var(--bs-border-radius);
    width: 16%;
    margin-block-start: -5%;
    left: 65%;
    position: sticky;
    border-bottom: none;
}